h1{
    text-align: center;
    font-size: 24px;
    color: black (30, 90, 210);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
}
fieldset, legend{
    border: 10px ridge rgb(105, 153, 153);
    padding: 5px 10px;
    border-radius: 45px;
}
legend{
    background-color: rgb(74, 216, 204);
}
fieldset{
    /* background-color:rgb(75, 71, 71); */
    background: linear-gradient(#e9e9e9 20%,);
}  
body{
    background-color: #678b30;
}